@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }



body{
    background-color: #121213;
}

.nav-container{
    display: flex;
    align-content: center;
    justify-content: center;
}

#nav-head{
    color: #ffff;
    font-family: 'Helvetica';
    /* font: 'Helvetica Neue'; */
}



.fcontainer{
    display: flex;
    justify-content: center;
    align-content: center;
}

.fitem{
    background-color: #121213;
    color: #ffff;
    margin: 2px;
    border: 2px solid #3a3a3c;
    width: 60px;
    height: 60px;
}

.fcontainer:hover {
    animation: horizontal-shaking 0.3s infinite;
  }

.fcontainer-main{
    background-color: #3a3a3c;
    /* height: 100vh; */
    /* align-items: stretch; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}